Package: libzstd-dev
Source: libzstd
Version: 1.3.8+dfsg-2
Architecture: amd64
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 2985
Depends: libzstd1 (= 1.3.8+dfsg-2)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/facebook/zstd
Description: fast lossless compression algorithm -- development files
 Zstd, short for Zstandard, is a fast lossless compression algorithm, targeting
 real-time compression scenarios at zlib-level compression ratio.
 .
 This package contains the headers and static library.
